/* every div has a default display box property. Spans are by default inline */
* {
    box-sizing: border-box;
  }

.example {
    border: 3px solid red;
    padding: 5px;
    margin: 25px;
    background-color: white;
  }

  .box-1 {
    border: 1px solid black;
    color: white;
    background-color: blue;
    height: 150px;
    width: 300px;
  }

  .box-2 {
    border: 1px solid black;
    color: white;
    background-color: red;
    height: 100px;
    width: 300px;
  }
  
  .box-3 {
    border: 1px solid black;
    color: white;
    background-color: green;
    height: 200px;
    width: 100px;
  }

  .floated div {
    float: left;
  }